@import url('https://fonts.googleapis.com/css2?family=Nosifer&display=swap');

*{
    margin: 0;
    box-sizing: border-box;
}

:root{
    --primary: #D17070;
    --secondery: #521B1B;
    --secondery-light:#8D5858;
    --third: #F4CB9B;
    --black: black;
    --forth: #F2EAFF;
}

header{
    background-color: var(--secondery);
    border-bottom: 0.7rem solid var(--black);
    display: flex;
    height: 8rem;
    align-items: center;
}

header picture{
    margin-top: 0.5rem;
    margin-left: 0.5rem;
    width: 20%;
    height: 95%;
}

header picture img{
    margin-top: 0.4rem;
    height: 90%;
}

header h1{
    font-family: 'Nosifer', cursive;
    font-weight: 400;
    color: var(--primary);
    text-align: center;
    text-shadow: 0.5rem 0.3rem 0rem black;
    font-size: 70px;
}


main{
    background-color: var(--third);
    height: calc(100vh - 13rem);
    display: flex;
    align-items: center;
}

main ul{
    width: 40rem;
    align-items: center;
}

main ul a li{
    text-decoration: none;
    color: black;
}

main ul a{
    text-decoration: none;
    color: black;
}

main ul li.index:hover{
    background-color: #d0b9f5;
    box-shadow: 0.3rem 0.2rem 0.5rem black;
}

main ul li.index{
    text-align: center;
    list-style-type: none;
    font-family: 'Odor Mean Chey', serif;
    font-size: 2rem ;
    background-color: var(--forth);
    width: 30rem;
    border-radius: 3rem;
    padding: 1.8rem;
    margin-bottom: 2rem;
}

main img.beterraba{
    float: right;
}

main img.cenoura{
    float:right
}

footer{
    padding: 8px 17px;
    background-color: var(--secondery-light);
    height: 5rem;
}

footer img.insta{
    width: 53px;
    height: 55px;
}

footer img.zap{
    width: 97px;
    height: 58px;
}

main ul.receitas{
    align-items: center;
}

main ul li.page1{
    text-align: center;
    list-style-type: none;
    font-family: 'Odor Mean Chey', serif;
    font-size: 2rem ;
    background-color: var(--forth);
    width: 25rem;
    border-radius: 3rem;
    display: block;
}

main ul li.ponto{
    text-align: center;
    list-style-type: none;
    font-size: 1.6rem ;
    background-color: var(--forth);
    width: 25rem;
    border-radius: 10rem;
}

main ul li.quadrado{
    text-align: center;
    list-style-type: none;
    font-family: 'Noto Rashi Hebrew', serif;
    font-size: 2rem ;
    background-color: var(--forth);
    width: 30rem;
    height: rem;
}

