@media (max-width: 1440px){
    main > img.cenoura{
        display: none;
    }
    main > ul li.index{
        font-size: 2rem;
    }
}


@media (max-width: 1000px){
    header{
        height: 6rem;
    }
    header > h1{
        font-size: 50px;
    }
    main > ul li.index{
        font-size: 1.5rem;
        width: 30rem;
    }
    main > img.cenoura{
        display: none;
    }

    main > img.beterraba{
        width: 25rem;
        height: 25rem;
    }
    footer{
        height: 4.5rem;
    }
    footer > a img.insta{
        width: 43px;
        height: 45px;
    }
    footer > a img.zap{
        width: 77px;
        height: 48px;
    }
    main{
        height: calc(100vh - 10.5rem);
    }
}

@media (max-width: 880px){
    main > img{
        display: none;
    }
}

@media (max-width: 690px){
    header > h1{
        font-size: 40px;
    }
    main > ul{
        padding: 4.5rem 4.5rem;
    }
}

@media (max-width: 555px){
    header > picture img{
        display: none;
    }
    header > picture{
        width: 3.5rem;
    }
    main > ul{
        padding: 2.5rem 2.5rem;
    }
}

