@media (max-width: 1473px) {
    main>img {
        display: none;
    }
}

@media (max-width: 965px) {
    header>a h1 {
        font-size: 3rem;
    }

    main {
        height: 60rem;
    }

    main>section ul.receitas {
        padding: 2rem 0rem;
    }

    main>section ul li {
        font-size: 1rem;
    }

    main>section {
        grid-template-columns: auto;
        padding: 0rem 10rem;
    }
}

@media (max-width: 820px) {
    header>a h1 {
        font-size: 2.5rem;
    }

    header>picture {
        width: 15%;
        height: 90%;
    }

    main>section {
        padding: 0rem 6rem;
    }
}

@media (max-width: 690px) {
    main>section {
        padding: 0rem 1rem;
    }

    header>a h1 {
        font-size: 1.5rem;
    }

    header>picture {
        height: 85%;
    }
}

@media (max-width: 690px) {
    header>picture img {
        display: none;
    }

    main>section ul.receitas {
        width: 0rem;
    }

    main>section ul li.quadrado {
        width: 25rem;
    }

    main>section ul li.page1 {
        width: 20rem;
    }

    main>section ul li.ponto {
        width: 20rem;
    }
}