@media (max-width: 1473px){
    main > img{
        display: none;
    }
}

@media (max-width: 965px){
    header > h1{
        font-size: 3rem;
    }
    main > ul li{
        font-size: 1rem;
    }
}